<f:if condition="{paginator.numberOfPages}>1">
<f:then>
<nav aria-label="Page navigation news" class="d-flex d-inline-flex">
<ul class="pagination">
	<li class="page-item disabled">
		<span class="page-link mr-1 ml-0 pl-0">{f:translate(key:'widget.pagination.page', extensionName: 'fluid')}</span>
	</li>
    <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
        <f:then>
            <f:comment>
                <li class="first page-item">
                    <a  class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: 1},addQueryString:1)}" title="{f:translate(key:'pagination.first')}">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
            </f:comment>
            <li class="previous page-item">
                <a  class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber},addQueryString:1)}" title="{f:translate(key:'pagination.previous')}">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}</span>
                </a>
            </li>
        </f:then>
        <f:else>
            <f:comment>
                <li class="page-item disabled"><span><i class="material-icons">first_page</i></span></li>
                <li class="page-item disabled"><span>{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}</span></li>
            </f:comment>
        </f:else>
    </f:if>
    <f:if condition="{pagination.hasLessPages}">
        <li>…</li>
    </f:if>
    <f:for each="{pagination.allPageNumbers}" as="page">
		<li class="page-item{f:if(condition:'{page} == {paginator.currentPageNumber}', then:' active"')}" >
   	        <a {f:if(condition:'{page} == {paginator.currentPageNumber}', then:'class="page-link current"', else:'class="page-link"')} href="{f:uri.action(action:actionName, arguments:{currentPage: page},addQueryString:1)}">{page}</a>
        </li>
    </f:for>
    <f:if condition="{pagination.hasMorePages}">
        <li>…</li>
    </f:if>
    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <f:then>
            <li class="page-item next">
                <a class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber},addQueryString:1)}" title="{f:translate(key:'pagination.next')}">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}</span>
                </a>
            </li>
            <f:comment>
                <li class="page-item last">
                    <a  class="page-link" href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.lastPageNumber},addQueryString:1)}" title="{f:translate(key:'pagination.last')}">
                        last
                    </a>
                </li>
            </f:comment>
        </f:then>
        <f:else>
            <f:comment>
                <li class="page-item disabled"><span>{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}</span></li>
                <li class="page-item disabled"><span>last page</span></li>
            </f:comment>
        </f:else>
    </f:if>
</ul>
</nav>
</f:then>
</f:if>
