<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:if condition="{settings.cssFile}">
	<f:asset.css identifier="newsbasis" href="{settings.cssFile}" />
</f:if>

<div class="news news-single">
	<div class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
		<f:render section="content" />
	</div>
</div>
<script>
if ($(".news-backlink-wrap a").length > 0) {
        if(document.referrer.indexOf(window.location.hostname) != -1) {
                $(".news-backlink-wrap a").attr("href","javascript:history.back();").text('<f:translate key="back-link" extensionName="mynews" />');
        }
}
function openPic(url, winName, winParams) {
	var theWindow = window.open(url, winName, winParams);
	if (theWindow)	{theWindow.focus();}
}
$("#mylightbox").click(function(event){
	event.preventDefault();
	var url = $(this).attr('href');
  	window.open(url,"_blank","width=700,height=600");
});
</script>
</html>