<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{settings.cssFile}">
	<f:asset.css identifier="newsbasis" href="{settings.cssFile}" />
</f:if>

<div class="news">
	<f:render section="content" />
</div>
</html>