<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->

<f:section name="content">
	<div class="news-menu-view">
		<ul>
			<f:for each="{data.single}" key="year" as="months">
				<li>
					{year}
					<ul>
						<f:for each="{months}" key="month" as="count">
							<f:if condition="{0:year, 1:month} == {0:overwriteDemand.year, 1:overwriteDemand.month}">
								<f:then>
									<li class="item itemactive">
								</f:then>
								<f:else>
									<li class="item">
								</f:else>
							</f:if>
								<f:link.action pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}"><f:translate key="month.{month}" extensionName="mynews"/> {year}</f:link.action>
								({count} <f:translate key="{f:if(condition: '{count} == 1', then: 'entry', else: 'entries')}" extensionName="mynews" />)
							</li>
						</f:for>
					</ul>
				</li>
			</f:for>
		</ul>
	</div>
</f:section>
</html>