<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
{namespace p=EvangelischeGemeenteParousiaZoetermeer\Parousiazoetermeer\ViewHelpers}

<f:layout name="General" />
<f:section name="content">
	<div id="news-container-{contentObjectData.uid}">
		<div>
			<a href="{mysynday}">
			  <span itemprop="headline" class="font-weight-bold"><p:user fieldname="nextsunday"/>&nbsp;Zondagmorgendienst</span>
			</a>
		</div>
		<f:for each="{news}" as="newsItem" iteration="iterator">
			<f:render section="listItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		</f:for>
	</div>
</f:section>

<f:section name="listItem">
	<div  >
		<n:excludeDisplayedNews newsItem="{newsItem}"/>
			<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.teaser}">
				<span itemprop="headline">
					<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.eventStart, format:'Y-m-d')}">
						<f:format.date format="d-m">{newsItem.eventStart}</f:format.date>
					</time>
					<f:if condition="{eventend}>{eventdate}">
						&nbsp;-
						<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.eventEnd, format:'Y-m-d')}">
							<f:format.date format="d-m">{newsItem.eventEnd}</f:format.date>
						</time>
					</f:if>
					{newsItem.title}
				</span>
			</n:link>
	</div>
</f:section>


