/**************************************/
/* Default styles for news extension */
/**************************************/
.news {
	margin-bottom: 10px;
}
.news .clear {
	clear: both;
}

.news .nav ul {
	float: left;
	display: inline;
	margin: 0;
}

.news .nav li {
	float: left;
}

.news .nav a {
	float: left;
	display: block;
}
.news-list-view {
	display: table;
}
.events_listBody{
	width: 229px;
	padding-left: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	height: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	display: block;
}
.event_listItem {
	display: table;
	paddings: 0;
	margin:0;
}
.event_listItem a {
	font-weight: normal;
	color: #444;
	text-decoration: none;
}
.news .nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.news .articlealt {
	padding-bottom: 16px;
	display: table-row;
}
.news .articlealt .cellleft {
	display: inline-block;
}
.news .articlealt .cellright {
	display: table-cell;
	vertical-align: top;
}
.news .articlealt .cellleft .news-list-date{
	font-size: small;
	float: right;
	display: block;
	padding-left:10px;
	padding-right: 10px;
}
.news .events_listBody .news-list-date{
	font-size: small;
	font-weight: bold;
}

.news .articlealt:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

.news .articlealt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.news .articlealt .news-img-wrapalt {
	margin: 0;
	background: #fff;
}

.news .articlealt .news-img-wrapalt a {
	display: block;
	padding-bottom: 6px;
}

.news .articlealt .news-img-wrapalt img {
	height: auto;
	width: auto;
}

.news .articlealt .teaser-textalt {
	margin: 0px 0px 16px 0px;
}

.news .articlealt h3 {
	margin-bottom: 0;
}

.news .footeralt{
	clear: both;
	border-top: 1px solid #eee;
	color: #888;
	font-size: small;
}

.news .footeralt p {
	line-height: 1em;
}

.news .footeralt span {
	display: inline-block;
	padding-right: 8px;
	margin-right: 8px;
	border-right: 1px solid #ddd;
}

.news .footeralt span:last-child {
	border-right: 0;
}

.news .footeralt .news-category a {
	text-transform: uppercase;
}

.news .no-news-found {
	color: #DB0202;
	font-style: italic;
}

.news .page-navigation p {
	float: left;
}

.news .page-navigation ul {
	float: right;
	margin-bottom: 5px;
	margin-top: 2px;
}

.news .page-navigation ul li {
	float: left;
	display: block;
	padding: 0 2px;
	background: none;
	margin-bottom: 5px;
	margin-top: 2px;
}

.news .page-navigation ul li a {
	display: block;
}

/* category menu view */
.news-category-view ul li {
	padding: 5px 8px;
}

.news-category-view ul li li {
	padding: 2px 8px 2px 12px;
}

.news-category-view > ul > li:nth-child(even) {
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.news-category-view .category-desc {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ddd;
}

/* single view */
.news-single .footeralt {
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 10px 0 0 0;
	border-bottom: 0;
	border-top: 1px solid #eee;
}

.news-single .articlealt .news-img-wrapalt {
	float: right;
	width: 282px;
	margin: 0 0 0 15px;
}

.news-single .articlealt .news-img-wrapalt img {
	float: none;
}

.news-single .teaser-textalt {
	font-size: 15px;
	color: #888;
	font-style: italic;
	margin-bottom: 20px
}

.news-text-wrap {
	margin-bottom: 10px;
}

.news-img-caption {
	color: #888;
}

/* related news + files */
.news-related-wrap {
	display: table; 
	margin-top: 20px;
	width: 100%;
}

.news-related {
	width: 50%;
	padding: 15px;
	border: 1px solid #eee;
	display: table-cell;
}

.news-related ul li {
	line-height: 1em;
	margin-bottom: 12px;
}

.news-related ul li span {
	border-right: 1px solid #DDDDDD;
	display: inline-block;
	margin-right: 8px;
	padding-right: 8px;
	color: #888;
}

.news-related ul li span:last-child {
	border-right: 0;
	padding-right: 0;
}

.news-related h4 {
	margin-bottom: 10px;
}

.news-related-files ul li {
	margin-bottom: 20px;
}

.news-related-files .news-related-files-link .jpg {
	background-position: 0 0;
}

.news-clear {
	clear: both;
}
